* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

/* Banner Styles */

header {
    height: 90vh;
    width: 100%;

}

.banner {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: flex-end;
    flex-flow: column wrap;

    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content{
    margin: 150px 100px 300px 550px;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-content: flex-end;
}

.banner-title {
    font-size: 45px;
    text-align: right;
    color: #151414;
}

.banner-description {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    margin: 26px 0;
    color: #444343;
}

.contact-btn {
    height: 60px;
    
    margin-left: 58%;
    background-color: #F15B22;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border: 0;
    border-radius: 5px;
    font-size: 17px;
   

}

.contact-btn:hover {
    background-color: transparent;
    color: #F15B22;
    border: 1px solid #F15B22;
}

/* Banner Styles end*/

/* Personal info */
.personal-info {
    display: flex;
    gap: 50px;

}

.info-picture {
    margin-top: 25px;
}

.info-content {
    display: flex;
    flex-direction: column;
    margin-top: 170px;
}

.info-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 33px;
}

.info-description {
    font-size: 15px;
    line-height: 20px;
    color: #444343;
    margin-right: 100px;
    margin-bottom: 14px;
}

.info-item {
    font-size: 15px;
    line-height: 26px;
    color: #444343;
}

.fa-check {
    color: #16D887;
    height: 24px;
    width: 24px;
}

/* Personal info ends */

/* My plans */

.my-plans {
    display: flex;

    align-items: center;
    flex-direction: column;
}

.plans-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin: 80px;
}

.plans-container {
    display: flex;
    gap: 80px;
}

.plan {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.plan img {
    height: 75px;
    width: 75px;
    margin-bottom: 15px;
}

.plan-name {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #151414;
}

.plan-sub-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/* My plans */

/* My projects */

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/gradient1.png');
    background-color: #151414;
    background-blend-mode: screen;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 60px 0;

}

.projects-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-top: 80px;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 50px auto;
}

.project {
    height: 270px;
    width: 25%;
    border-radius: 10px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0)  0%, #227cf1 100%);
    overflow: hidden;
}

.project img {
    height: 80%;
    width: 100%;


}

.project img:hover {
    transform: scale(1.1);

}


.project-footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.project-title {
    font-weight: 600;
    font-size: 25px;
    margin-top: 12px;
    color: #151414;
    letter-spacing: 4px;
}

/* My projects */

/* Card section */

.card-container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.card {
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../images/watch.png');
    width: 70%;
    height: 40%;
    background-size: 100% 100%, 100% 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 40px 60px;
    border-radius: 10px;

}

.card-btn {
    height: 60px;
    width: 120px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px 0;
    color: #F15B22;
    font-weight: 600;
    text-align: center;
    border: 0;
    border-radius: 5px;
    font-size: 17px;

}

.card-btn:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.card-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    color: #fff;
    margin-bottom: 25px;
}

/* Card section */

/* Footer */

.main-footer {
    display: flex;
    gap: 30px;
    color: #fff;
    background-color: #151414;
    padding-bottom: 100px;
}

.footer1 {
    display: flex;
    flex-direction: column;
    margin: 80px 0 15px 100px;
  
    width: 50%;
}

.footer1-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;

}

.footer-description {
    width: 80%;
}
.footer1 a, .footer1 p{
    text-decoration: none;
    font-size: 15px;
    margin: 15px 0;
    color: #e7e7e7;
}
.social-icons img{ 
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.footer2{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 80px 0 15px 0px;
    
}
.footer2 form .subscribe{
    font-size: 28px;
    margin-bottom: 20px;
}
.footer2 form input[type="email"]{
    height: 50px;
    width: 60%;
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px double #444343;
    color: #737272;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 500;
}
/* Footer */